**-- Importing Libraries**

In [105]:
# Install the 'country_list' library
!pip install country_list

# Import necessary libraries
from country_list import countries_for_language  # Library for getting country names
import pandas as pd  # Data manipulation
from sklearn.impute import SimpleImputer  # Data imputation
import matplotlib.pyplot as plt # Plotting
import seaborn as sns # Data visualization
import numpy as np #Numerical operations
from sklearn.preprocessing import StandardScaler #Data scaling
from sklearn.cluster import KMeans #K-Means clustering

Requirement already satisfied: country_list in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.0.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: pip install --upgrade pip

## Tasks:

-- *1. Data Collection:*

    - Access the United Nations data repository or API to retrieve relevant datasets on population and economic indicators for various countries.
    - Download or fetch the necessary datasets in a format suitable for analysis (e.g., CSV, Excel, JSON).

-- **Importing Datasets**

In [106]:
##Economic Indicators


#DATA 1 Population Growth Rates in Urban areas and Capital cities
df_PGR = pd.read_csv('Predata/SYB61_253_Population.csv')

    - Inspect the data for missing values, duplicates, and outliers. Address missing values and outliers using appropriate techniques.

-- Cleaning Datasets

In [107]:
df_PGR

,Country,Year,Series,Capital City,Value
0,Argentina,2005,Capital city population (thousands),Buenos Aires,"13,330"
1,Argentina,2010,Capital city population (thousands),Buenos Aires,"14,246"
2,Argentina,2015,Capital city population (thousands),Buenos Aires,"14,706"
3,Argentina,2018,Capital city population (thousands),Buenos Aires,"14,967"
4,Brazil,2005,Capital city population (thousands),Brasilia,"3,301"
...,...,...,...,...,...
255,United Kingdom,2010,Urban population (percent growth rate per annum),NaN,1.3
256,United Kingdom,2015,Urban population (percent growth rate per annum),NaN,1
257,United States of America,2005,Urban population (percent growth rate per annum),NaN,1.1
258,United States of America,2010,Urban population (percent growth rate per annum),NaN,1.1
259,United States of America,2015,Urban population (percent growth rate per annum),NaN,0.9

In [108]:
# Pivot the DataFrame
df_PGR = df_PGR.pivot(index=['Country', 'Year'], columns='Series', values='Value').reset_index()

# Rename the columns if needed
df_PGR.columns.name = None

In [109]:
df_PGR

,Country,Year,Capital city population (thousands),Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Rural population (percent growth rate per annum),Urban population (percent growth rate per annum)
0,Argentina,2005,"13,330",NaN,NaN,NaN,NaN,-0.6,1.3
1,Argentina,2010,"14,246",25.6,14.6,14.7,41.1,-0.7,1.2
2,Argentina,2015,"14,706",24.7,15.3,15.5,43.26,-0.4,1.2
3,Argentina,2018,"14,967",NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,2020,NaN,23.7,16,16.1,45.04,NaN,NaN
5,Argentina,2022,NaN,23.1,16.2,16.3,45.51,NaN,NaN
6,Brazil,2005,"3,301",NaN,NaN,NaN,NaN,-0.5,1.7
7,Brazil,2010,"3,710",24.8,10.3,23.5,196.35,-0.8,1.4
8,Brazil,2015,"4,168",22.5,11.9,24.6,205.19,-1,1.2
9,Brazil,2018,"4,470",NaN,NaN,NaN,NaN,NaN,NaN
10,Brazil,2020,NaN,20.8,13.8,25.5,213.2,NaN,NaN
11,Brazil,2022,NaN,20.3,14.6,25.8,215.31,NaN,NaN
12,Canada,2005,"1,122",NaN,NaN,NaN,NaN,0.3,1.1
13,Canada,2010,"1,218",16.6,19.9,3.7,33.96,0.3,1.3
14,Canada,2015,"1,308",16.2,22.3,3.9,35.73,0.7,1.1
15,Canada,2018,"1,363",NaN,NaN,NaN,NaN,NaN,NaN
16,Canada,2020,NaN,15.9,24.8,4.2,37.89,NaN,NaN
17,Canada,2022,NaN,15.6,25.9,4.2,38.45,NaN,NaN
18,Germany,2005,"3,391",NaN,NaN,NaN,NaN,-0.8,0.3
19,Germany,2010,"3,450",13.6,25.9,233.3,81.33,-1,0.1
20,Germany,2015,"3,514",13.2,27.3,235.5,82.07,0,0.3
21,Germany,2018,"3,552",NaN,NaN,NaN,NaN,NaN,NaN
22,Germany,2020,NaN,13.8,28.8,239.1,83.33,NaN,NaN
23,Germany,2022,NaN,14,29.7,239.2,83.37,NaN,NaN
24,India,2005,"18,691",NaN,NaN,NaN,NaN,1.2,2.8
25,India,2010,"21,988",31,7.8,417.3,"1,240.61",1,2.6
26,India,2015,"25,866",28.6,8.9,444.9,"1,322.87",0.7,2.4
27,India,2018,"28,514",NaN,NaN,NaN,NaN,NaN,NaN
28,India,2020,NaN,26.1,10.2,469.7,"1,396.39",NaN,NaN
29,India,2022,NaN,25.3,10.5,476.7,"1,417.17",NaN,NaN
30,Japan,2005,"35,622",NaN,NaN,NaN,NaN,-8.3,1.9
31,Japan,2010,"36,860",13.2,31.5,340,128.11,-8.4,1.1
32,Japan,2015,"37,256",12.7,33.9,337.7,127.25,-1.4,0
33,Japan,2018,"37,468",NaN,NaN,NaN,NaN,NaN,NaN
34,Japan,2020,NaN,11.9,35.4,332.4,125.24,NaN,NaN
35,Japan,2022,NaN,11.6,35.8,328.9,123.95,NaN,NaN
36,Mexico,2005,"19,276",NaN,NaN,NaN,NaN,0,1.7
37,Mexico,2010,"20,137",29.9,8.9,57.4,112.53,0.3,2
38,Mexico,2015,"21,340",27.6,10.2,61.3,120.15,0,1.8
39,Mexico,2018,"21,581",NaN,NaN,NaN,NaN,NaN,NaN
40,Mexico,2020,NaN,25.3,11.7,64.3,126,NaN,NaN
41,Mexico,2022,NaN,24.5,12.2,65.1,127.5,NaN,NaN
42,South Africa,2005,"1,334",NaN,NaN,NaN,NaN,0,2.2
43,South Africa,2010,"1,666",28.7,7.6,42.4,51.78,-0.3,2
44,South Africa,2015,"2,081",28.3,8.1,45.8,55.88,0,2.2
45,South Africa,2018,"2,378",NaN,NaN,NaN,NaN,NaN,NaN
46,South Africa,2020,NaN,28.7,8.7,48.2,58.8,NaN,NaN
47,South Africa,2022,NaN,28.6,8.7,49.1,59.89,NaN,NaN
48,United Kingdom,2005,"7,501",NaN,NaN,NaN,NaN,-0.8,0.8
49,United Kingdom,2010,"8,044",17.6,22.3,258.5,62.76,-0.5,1.3
50,United Kingdom,2015,"8,661",17.7,23.2,268.7,65.22,-0.8,1
51,United Kingdom,2018,"9,046",NaN,NaN,NaN,NaN,NaN,NaN
52,United Kingdom,2020,NaN,17.8,24.5,276.3,67.06,NaN,NaN
53,United Kingdom,2022,NaN,17.5,25.2,278.1,67.51,NaN,NaN
54,United States of America,2005,"4,264",NaN,NaN,NaN,NaN,0.1,1.1
55,United States of America,2010,"4,604",19.9,18.3,34,311.18,0,1.1
56,United States of America,2015,"4,972",19.3,20.3,35.5,324.61,-0.2,0.9
57,United States of America,2018,"5,207",NaN,NaN,NaN,NaN,NaN,NaN
58,United States of America,2020,NaN,18.5,22.5,36.7,335.94,NaN,NaN
59,United States of America,2022,NaN,18,23.4,37,338.29,NaN,NaN

In [110]:
# Remove NaN values
df_PGR.dropna()

,Country,Year,Capital city population (thousands),Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Rural population (percent growth rate per annum),Urban population (percent growth rate per annum)
1,Argentina,2010,"14,246",25.6,14.6,14.7,41.1,-0.7,1.2
2,Argentina,2015,"14,706",24.7,15.3,15.5,43.26,-0.4,1.2
7,Brazil,2010,"3,710",24.8,10.3,23.5,196.35,-0.8,1.4
8,Brazil,2015,"4,168",22.5,11.9,24.6,205.19,-1,1.2
13,Canada,2010,"1,218",16.6,19.9,3.7,33.96,0.3,1.3
14,Canada,2015,"1,308",16.2,22.3,3.9,35.73,0.7,1.1
19,Germany,2010,"3,450",13.6,25.9,233.3,81.33,-1,0.1
20,Germany,2015,"3,514",13.2,27.3,235.5,82.07,0,0.3
25,India,2010,"21,988",31,7.8,417.3,"1,240.61",1,2.6
26,India,2015,"25,866",28.6,8.9,444.9,"1,322.87",0.7,2.4
31,Japan,2010,"36,860",13.2,31.5,340,128.11,-8.4,1.1
32,Japan,2015,"37,256",12.7,33.9,337.7,127.25,-1.4,0
37,Mexico,2010,"20,137",29.9,8.9,57.4,112.53,0.3,2
38,Mexico,2015,"21,340",27.6,10.2,61.3,120.15,0,1.8
43,South Africa,2010,"1,666",28.7,7.6,42.4,51.78,-0.3,2
44,South Africa,2015,"2,081",28.3,8.1,45.8,55.88,0,2.2
49,United Kingdom,2010,"8,044",17.6,22.3,258.5,62.76,-0.5,1.3
50,United Kingdom,2015,"8,661",17.7,23.2,268.7,65.22,-0.8,1
55,United States of America,2010,"4,604",19.9,18.3,34,311.18,0,1.1
56,United States of America,2015,"4,972",19.3,20.3,35.5,324.61,-0.2,0.9

-- Displaying all the dataframes into CSV

In [111]:
column_data_types_1 = df_PGR.dtypes
print(column_data_types_1)

Country                                             object
Year                                                 int64
Capital city population (thousands)                 object
Population aged 0 to 14 years old (percentage)      object
Population aged 60+ years old (percentage)          object
Population density                                  object
Population mid-year estimates (millions)            object
Rural population (percent growth rate per annum)    object
Urban population (percent growth rate per annum)    object
dtype: object

In [112]:
# Convert columns by position (column number) to float
columns_to_convert_1 = [2,6]  # Put the column position in a list
# Loop through the selected column positions and apply the conversion
for column_pos in columns_to_convert_1:  # Iterate through the list
    df_PGR.iloc[:, column_pos] = df_PGR.iloc[:, column_pos].str.replace(',', '').astype(float)

In [113]:
df_PGR

,Country,Year,Capital city population (thousands),Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Rural population (percent growth rate per annum),Urban population (percent growth rate per annum)
0,Argentina,2005,13330.0,NaN,NaN,NaN,NaN,-0.6,1.3
1,Argentina,2010,14246.0,25.6,14.6,14.7,41.1,-0.7,1.2
2,Argentina,2015,14706.0,24.7,15.3,15.5,43.26,-0.4,1.2
3,Argentina,2018,14967.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,2020,NaN,23.7,16,16.1,45.04,NaN,NaN
5,Argentina,2022,NaN,23.1,16.2,16.3,45.51,NaN,NaN
6,Brazil,2005,3301.0,NaN,NaN,NaN,NaN,-0.5,1.7
7,Brazil,2010,3710.0,24.8,10.3,23.5,196.35,-0.8,1.4
8,Brazil,2015,4168.0,22.5,11.9,24.6,205.19,-1,1.2
9,Brazil,2018,4470.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Brazil,2020,NaN,20.8,13.8,25.5,213.2,NaN,NaN
11,Brazil,2022,NaN,20.3,14.6,25.8,215.31,NaN,NaN
12,Canada,2005,1122.0,NaN,NaN,NaN,NaN,0.3,1.1
13,Canada,2010,1218.0,16.6,19.9,3.7,33.96,0.3,1.3
14,Canada,2015,1308.0,16.2,22.3,3.9,35.73,0.7,1.1
15,Canada,2018,1363.0,NaN,NaN,NaN,NaN,NaN,NaN
16,Canada,2020,NaN,15.9,24.8,4.2,37.89,NaN,NaN
17,Canada,2022,NaN,15.6,25.9,4.2,38.45,NaN,NaN
18,Germany,2005,3391.0,NaN,NaN,NaN,NaN,-0.8,0.3
19,Germany,2010,3450.0,13.6,25.9,233.3,81.33,-1,0.1
20,Germany,2015,3514.0,13.2,27.3,235.5,82.07,0,0.3
21,Germany,2018,3552.0,NaN,NaN,NaN,NaN,NaN,NaN
22,Germany,2020,NaN,13.8,28.8,239.1,83.33,NaN,NaN
23,Germany,2022,NaN,14,29.7,239.2,83.37,NaN,NaN
24,India,2005,18691.0,NaN,NaN,NaN,NaN,1.2,2.8
25,India,2010,21988.0,31,7.8,417.3,1240.61,1,2.6
26,India,2015,25866.0,28.6,8.9,444.9,1322.87,0.7,2.4
27,India,2018,28514.0,NaN,NaN,NaN,NaN,NaN,NaN
28,India,2020,NaN,26.1,10.2,469.7,1396.39,NaN,NaN
29,India,2022,NaN,25.3,10.5,476.7,1417.17,NaN,NaN
30,Japan,2005,35622.0,NaN,NaN,NaN,NaN,-8.3,1.9
31,Japan,2010,36860.0,13.2,31.5,340,128.11,-8.4,1.1
32,Japan,2015,37256.0,12.7,33.9,337.7,127.25,-1.4,0
33,Japan,2018,37468.0,NaN,NaN,NaN,NaN,NaN,NaN
34,Japan,2020,NaN,11.9,35.4,332.4,125.24,NaN,NaN
35,Japan,2022,NaN,11.6,35.8,328.9,123.95,NaN,NaN
36,Mexico,2005,19276.0,NaN,NaN,NaN,NaN,0,1.7
37,Mexico,2010,20137.0,29.9,8.9,57.4,112.53,0.3,2
38,Mexico,2015,21340.0,27.6,10.2,61.3,120.15,0,1.8
39,Mexico,2018,21581.0,NaN,NaN,NaN,NaN,NaN,NaN
40,Mexico,2020,NaN,25.3,11.7,64.3,126.0,NaN,NaN
41,Mexico,2022,NaN,24.5,12.2,65.1,127.5,NaN,NaN
42,South Africa,2005,1334.0,NaN,NaN,NaN,NaN,0,2.2
43,South Africa,2010,1666.0,28.7,7.6,42.4,51.78,-0.3,2
44,South Africa,2015,2081.0,28.3,8.1,45.8,55.88,0,2.2
45,South Africa,2018,2378.0,NaN,NaN,NaN,NaN,NaN,NaN
46,South Africa,2020,NaN,28.7,8.7,48.2,58.8,NaN,NaN
47,South Africa,2022,NaN,28.6,8.7,49.1,59.89,NaN,NaN
48,United Kingdom,2005,7501.0,NaN,NaN,NaN,NaN,-0.8,0.8
49,United Kingdom,2010,8044.0,17.6,22.3,258.5,62.76,-0.5,1.3
50,United Kingdom,2015,8661.0,17.7,23.2,268.7,65.22,-0.8,1
51,United Kingdom,2018,9046.0,NaN,NaN,NaN,NaN,NaN,NaN
52,United Kingdom,2020,NaN,17.8,24.5,276.3,67.06,NaN,NaN
53,United Kingdom,2022,NaN,17.5,25.2,278.1,67.51,NaN,NaN
54,United States of America,2005,4264.0,NaN,NaN,NaN,NaN,0.1,1.1
55,United States of America,2010,4604.0,19.9,18.3,34,311.18,0,1.1
56,United States of America,2015,4972.0,19.3,20.3,35.5,324.61,-0.2,0.9
57,United States of America,2018,5207.0,NaN,NaN,NaN,NaN,NaN,NaN
58,United States of America,2020,NaN,18.5,22.5,36.7,335.94,NaN,NaN
59,United States of America,2022,NaN,18,23.4,37,338.29,NaN,NaN

In [114]:
df_PGR=df_PGR.dropna()

In [115]:
# Reset the index after dropping rows with NaN values
# df_PGR = df_PGR.reset_index(drop=True)
df_PGR.to_csv('data/Population.csv', index=False)